@font-face {
    font-family: "Great Vibes";
    src: url(GreatVibes-Regular.ttf);
}

body, html {
    background-color: #212121;
    color: #f0f0f0;
    cursor: default;
    margin: 0px;
    text-align: center;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    background-color: #212121ee;
}

button {
    background-color: #a11ec6;
    border: none;
    color: white;
    cursor: pointer;
    font: 300 18px serif;
    margin-top: 60px;
    padding: 18px 36px;
}

html {
    background-image: url(../img/octocat.png), url(../img/photo1.jpg);
    background-position: -240px 240px, 100% 180vh;
    background-repeat: no-repeat;
    background-size: auto, 84vw;
}

h1 {
    font: 300 72px serif;
}

h2 {
    font: 300 18px serif;
    letter-spacing: 3px;
}

h3 {
    font: 300 24px sans-serif;
}

h4 {
    font: 300 36px sans-serif;
    margin-top: 12px;
}

h4 small {
    font: 300 18px sans-serif;
}

h5 {
    font: 600 24px serif;
}

header {
    padding: 120px 12px;
}

p {
    font: 300 24px sans-serif;
}

p small {
    display: inline-block;
    font: 300 18px sans-serif;
    max-width: 600px;
}

p span {
    background: #ffcd10;
    color: #212121;
    padding: 0px 6px;
}

section {
    padding: 12px;
}

.img {
    margin: 84px auto;
}

.img img {
    max-width: 120px;
    width: 100%;
}

.link {
    border-bottom: 3px dotted #fafafa;
}

#hacktoberfest {
    margin-top: 120px;
    max-width: 600px;
    width: 84vw;
}

#org {
    padding-top: 120px;
}

#org .img img {
    max-width: 80vw;
}

#tinkerHacks {
    color: #ffcd10;
    font-family: "Great Vibes";
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 108px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 48px;
    }

    h5 {
        font-size: 30px;
    }

    header {
        padding: 84px 12px;
    }

    html {
        background-position: -240px 240px, 100% 220vh;
    }

    .img {
        display: inline-block;
        vertical-align: top;
        width: 36vw;
    }

    #org .img {
        padding: 0px 60px;
        width: 24vw;
    }
}